In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./developer_survey_2020/survey_results_public.csv')
schema_df = pd.read_csv('./developer_survey_2020/survey_results_schema.csv')

In [3]:
people = {
    'name' : ['vasu','parth','nidhi'],
    'last' : ['gami','gami','merja'],
    'email': ['vatsalgami86@gmail.com','gamiparth1@gmail.com','merjanidhi@gmail.com']
}
pdf = pd.DataFrame(people)

In [4]:
pdf

    name   last                   email
0   vasu   gami  vatsalgami86@gmail.com
1  parth   gami    gamiparth1@gmail.com
2  nidhi  merja    merjanidhi@gmail.com

In [5]:
pdf['full_name'] = pdf['name'] + ' ' + pdf['last']
pdf

    name   last                   email    full_name
0   vasu   gami  vatsalgami86@gmail.com    vasu gami
1  parth   gami    gamiparth1@gmail.com   parth gami
2  nidhi  merja    merjanidhi@gmail.com  nidhi merja

In [6]:
pdf.drop(columns=['name','last'],inplace=True)
pdf

                    email    full_name
0  vatsalgami86@gmail.com    vasu gami
1    gamiparth1@gmail.com   parth gami
2    merjanidhi@gmail.com  nidhi merja

In [7]:
pdf['full_name'].str.split(' ',expand=True)

       0      1
0   vasu   gami
1  parth   gami
2  nidhi  merja

In [8]:
pdf[['first','last']] = pdf['full_name'].str.split(' ',expand=True)

In [9]:
pdf

                    email    full_name  first   last
0  vatsalgami86@gmail.com    vasu gami   vasu   gami
1    gamiparth1@gmail.com   parth gami  parth   gami
2    merjanidhi@gmail.com  nidhi merja  nidhi  merja

In [17]:
pdf.append({'first':'shreya'},ignore_index = True)
# It is mandatory to pass ignore_index = True
# It is showing just temporary result
# To store it permanantly write e.g. pdf = pdf.append({'first':'shreya'},ignore_index = True)

                    email    full_name   first   last
0  vatsalgami86@gmail.com    vasu gami    vasu   gami
1    gamiparth1@gmail.com   parth gami   parth   gami
2    merjanidhi@gmail.com  nidhi merja   nidhi  merja
3                     NaN          NaN  shreya    NaN
4                     NaN          NaN  shreya    NaN

In [18]:
people = {
    'first' : ['Tony','Steve'],
    'last' : ['stark','rogers'],
    'email' : ['tony@aveng.com','cap@aveng.com']
}

pdf2 = pd.DataFrame(people)

In [19]:
pdf2

   first    last           email
0   Tony   stark  tony@aveng.com
1  Steve  rogers   cap@aveng.com

In [20]:
pdf

                    email    full_name   first   last
0  vatsalgami86@gmail.com    vasu gami    vasu   gami
1    gamiparth1@gmail.com   parth gami   parth   gami
2    merjanidhi@gmail.com  nidhi merja   nidhi  merja
3                     NaN          NaN  shreya    NaN

In [24]:
pdf.drop(index=pdf[pdf['first']=='shreya'].index,inplace=True)

In [25]:
pdf

                    email    full_name  first   last
0  vatsalgami86@gmail.com    vasu gami   vasu   gami
1    gamiparth1@gmail.com   parth gami  parth   gami
2    merjanidhi@gmail.com  nidhi merja  nidhi  merja

In [26]:
pdf = pdf.append(pdf2)

In [27]:
pdf

                    email    full_name  first    last
0  vatsalgami86@gmail.com    vasu gami   vasu    gami
1    gamiparth1@gmail.com   parth gami  parth    gami
2    merjanidhi@gmail.com  nidhi merja  nidhi   merja
0          tony@aveng.com          NaN   Tony   stark
1           cap@aveng.com          NaN  Steve  rogers

In [38]:
pdf['full_name'] = pdf['full_name'].replace({np.nan:'abcd'})

In [37]:
import numpy as np

In [39]:
pdf

                    email    full_name  first    last
0  vatsalgami86@gmail.com    vasu gami   vasu    gami
1    gamiparth1@gmail.com   parth gami  parth    gami
2    merjanidhi@gmail.com  nidhi merja  nidhi   merja
0          tony@aveng.com         abcd   Tony   stark
1           cap@aveng.com         abcd  Steve  rogers