In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./developer_survey_2020/survey_results_public.csv')
schema_df = pd.read_csv('./developer_survey_2020/survey_results_schema.csv')

In [4]:
people = {
    'name' : ['vasu','parth','nidhi'],
    'last' : ['gami','gami','merja'],
    'email': ['vatsalgami86@gmail.com','gamiparth1@gmail.com','merjanidhi@gmail.com']
}
pdf = pd.DataFrame(people)

In [5]:
pdf

    name   last                   email
0   vasu   gami  vatsalgami86@gmail.com
1  parth   gami    gamiparth1@gmail.com
2  nidhi  merja    merjanidhi@gmail.com

In [7]:
df['ConvertedComp'].median()

54049.0

In [8]:
df['ConvertedComp'].sum()

3606145279.0

In [9]:
df.describe()

         Respondent           Age      CompTotal  ConvertedComp   WorkWeekHrs
count  64461.000000  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean   32554.079738     30.834111  3.190464e+242   1.037561e+05     40.782174
std    18967.442360      9.585392            inf   2.268853e+05     17.816383
min        1.000000      1.000000   0.000000e+00   0.000000e+00      1.000000
25%    16116.000000     24.000000   2.000000e+04   2.464800e+04     40.000000
50%    32231.000000     29.000000   6.300000e+04   5.404900e+04     40.000000
75%    49142.000000     35.000000   1.250000e+05   9.500000e+04     44.000000
max    65639.000000    279.000000  1.111111e+247   2.000000e+06    475.000000

In [10]:
pdf

    name   last                   email
0   vasu   gami  vatsalgami86@gmail.com
1  parth   gami    gamiparth1@gmail.com
2  nidhi  merja    merjanidhi@gmail.com

In [12]:
pdf['name'].count()

3

In [13]:
pdf['last'].value_counts()

gami     2
merja    1
Name: last, dtype: int64

In [14]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [20]:
df['DevType'].value_counts()

Developer, full-stack                                                                                                                                                                            4424
Developer, back-end                                                                                                                                                                              3086
Developer, back-end;Developer, front-end;Developer, full-stack                                                                                                                                   2227
Developer, back-end;Developer, full-stack                                                                                                                                                        1476
Developer, front-end                                                                                                                                                                             1401
                                                                                                                                                                                                 ...
Data or business analyst;Data scientist or machine learning specialist;Database administrator;Developer, full-stack;DevOps specialist;Engineer, data;Engineering manager;System administrator       1
Data scientist or machine learning specialist;Developer, full-stack;Developer, mobile;Educator                                                                                                      1
Academic researcher;Data scientist or machine learning specialist;Database administrator;Developer, back-end;Developer, front-end;Developer, full-stack;Scientist                                   1
Developer, back-end;Developer, front-end;Developer, full-stack;Developer, mobile;DevOps specialist;Product manager;System administrator                                                             1
Data or business analyst;Developer, back-end;Developer, full-stack;Developer, QA or test;Engineer, data                                                                                             1
Name: DevType, Length: 8269, dtype: int64